@import url("https://fonts.googleapis.com/css?family=Ubuntu:400,500,700");

body .reveal * {
    font-size: 95%;
    font-family: Ubuntu, sans-serif;
}

.logo-wrapper {
    display: flex;
    justify-content: center;
}

.logo {
    height: 40px;
    width: auto;
    border: none !important;
    box-shadow: none !important;
    margin-right: 30px !important;
}

.logo.hyper {
    height: 90px;
    margin-top: -9px;
}

.full-width {
    width: 100% !important;
}

.code {
    box-shadow: none !important;
}

.code-small {
    font-size: 8px !important;
}

.no-edit {
    pointer-events: none;
    cursor: pointer;
}

.reveal blockquote {
    box-shadow: none;
}

.small-text {
    font-size: 18px !important;

}

.underline {
    text-decoration: underline;
}

.c-code {
    font-size: 20px !important;
    line-height: 1.5 !important;
}

.c-code * {
    color: #fff !important;
}