.logo-wrapper {
    display: flex;
    justify-content: center;
}

.logo {
    height: 80px;
    width: auto;
    border: none !important;
    box-shadow: none !important;
    margin-right: 30px !important;
}

.full-width {
    width: 100% !important;
}

.code {
    box-shadow: none !important;
}

.code-small {
    font-size: 8px !important;
}

.no-edit {
    pointer-events: none;
    cursor: pointer;
}